#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-layout {
  position: relative;
  padding: 14px 32px;
  background: #111;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  z-index: 0;
}

.app-layout::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(
    270deg,
    #ff0080,
    #7928ca,
    #2afadf,
    #ff0080
  );
  background-size: 600% 600%;
  animation: borderMove 30s linear infinite;

  filter: blur(6px);
  z-index: -1;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 600% 50%;
  }
}

